@using WordPuzzle.Models; @{
  Layout = "_Layout";
}

<div class="home">
  <h1>Welcome to Word Puzzle</h1>

  <form action="/game" method="post">
    <button type="submit">Start new game</button>
  </form>
</div>

