@using WordPuzzle.Models; @{
  Layout = "_Layout";
}

<div class="game">
  <div class="lives">Lives: <em>@Model.Lives</em></div>
  <div class="word-letters">
    @foreach (var dict in Model.CharGuessed)
    {
     foreach (var character in dict) 
     {
      @if (character.Value == true) {
        <div class="letter">@Char.ToUpper(character.Key)</div>
      }
      else
      {
        <div class="letter"></div>
      }
     }
    }
  </div>
  <form class="game-form" action="/game/guess" method="post">
    <label for="guess">Guess:</label>
    <input type="text" name="guess" id="guess" maxlength="1" pattern="[a-z|A-Z]" autocomplete="off">
    <button type="submit">Make guess</button>
  </form>
  <div class="guessed-letters">
    @foreach (char letter in Model.Guesses)
    {
      <div class="guessed-letter">@Char.ToUpper(letter)</div>
    }
  </div>
</div>

